@CHARSET "UTF-8";

#page {
	width: 960px;
	margin: 0px auto;
	margin-botton:50px;
}

#menu {
	margin: 20px 0px;
	border-top: 1px dotted gray;
	border-bottom: 1px dotted gray;
	padding: 20px 0px;
}

#menu span {
	padding:0px 20px;
}

#menu a {
	text-decoration: none;
	font-size: 20px;
	color: gray;
	font-weight: bold;
	
}

#menu a:hover{
	color: green;
}

#footer h3 {
	border-top: 1px dotted gray;
	padding :20px;
	text-align: center;
}

table {
	margin:0px auto;
	border-collapse: collapse;
}

td {
	padding: 10px;
	border-bottom : 1px dotted #e2e2e2;
	margin-bottom: 50px;
}

table .title {
	background: gray;
	color: white;
	text-align: center;
}

table .row:hover {
	cursor: pointer;
	font-weight: bold;
}

h1 {text-align: center; margin-bottom: 50px;}

input {
	border: 1px soild gray;
	height: 25px;
}

.pagination {
   margin: 0px auto;
   margin-top: 20px;
   text-align:center;
}

.pagination a {
   padding: 3px 10px;
   text-decoration: none;
   color: gray;
}

.pagination .active {
	background: gray;
	color: white;
	
}
.pagination a:hover {
   background-color: #E2E2E2;
}

.ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}